@charset "utf-8";
/* CSS Document */
#paginainicio
{background:#03C}
#titulo
{background:#903}
#pienombre
{background:#F63}
#Bayas
{background:#393}
#Citricos
{background:#323}
#Cucurbitáceas
{background:#186}
#Exóticas
{background:#3C9}
#FrutaDulce
{background:#F63}
#FrutosSecos
{background:#963}
#introduccion
{color:#999; size:3; text-align:justify; background:#F66; width:98%; margin:1%}
#imagen
{text-align:center}
#frambuesa
{color:#350; size:3; text-align:justify}
#arandano
{color:#350; size:3; text-align:justify}
#fresa
{color:#350; size:3; text-align:justify}
#grocella
{color:#350; size:3; text-align:justify}
#grocellaNegra
{color:#350; size:3; text-align:justify}
#grocellaRoja
{color:#350; size:3; text-align:justify}
#zarzamora
{color:#350; size:3; text-align:justify}
#limon
{color:#F63; size:3; text-align:justify}
#mandarina
{color:#F63; size:3; text-align:justify}
#naranja
{color:#F63; size:3; text-align:justify}
#pomelo
{color:#F63; size:3; text-align:justify}
#melon
{color:#036; size:3; text-align:justify}
#sandia
{color:#036; size:3; text-align:justify}
#aguacate
{color:#C66; size:3; text-align:justify}
#carambola
{color:#C66; size:3; text-align:justify}
#coco
{color:#C66; size:3; text-align:justify}
#chirimoya
{color:#C66; size:3; text-align:justify}
#datil
{color:#C66; size:3; text-align:justify}
#frutapasion
{color:#C66; size:3; text-align:justify}
#kiwi
{color:#C66; size:3; text-align:justify}
#litchi
{color:#C66; size:3; text-align:justify}
#mango
{color:#C66; size:3; text-align:justify}
#papaya
{color:#C66; size:3; text-align:justify}
#piña
{color:#C66; size:3; text-align:justify}
#platano
{color:#C66; size:3; text-align:justify}
#albaricoque
{color:#633; size:3; text-align:justify}
#cereza
{color:#633; size:3; text-align:justify}
#ciruela
{color:#633; size:3; text-align:justify}
#higo
{color:#633; size:3; text-align:justify}
#kaki
{color:#633; size:3; text-align:justify}
#manzana
{color:#633; size:3; text-align:justify}
#melocoton
{color:#633; size:3; text-align:justify}
#nectarina
{color:#633; size:3; text-align:justify}
#nispero
{color:#633; size:3; text-align:justify}
#pera
{color:#633; size:3; text-align:justify}
#uva
{color:#633; size:3; text-align:justify}
#almendra
{color:#C79C38; size:3; text-align:justify}
#avellana
{color:#C79C38; size:3; text-align:justify}
#cacahuate
{color:#C79C38; size:3; text-align:justify}
#castaña
{color:#C79C38; size:3; text-align:justify}
#nuez
{color:#C79C38; size:3; text-align:justify}
#pacana
{color:#C79C38; size:3; text-align:justify}
#pistacho
{color:#C79C38; size:3; text-align:justify}